/* Estilos gerais */
* {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Estilos para o menu */
header {
  background-color: #830974;
  color: #fff;
  padding: 10px;
  width: 100%;
}

/* Estilos para a imagem do logo */
img {
  max-width: 150px; /* Tamanho médio para a logo */
  height: auto;
}

/* Estilos para os ícones de redes sociais no menu */
.social-icons {
  font-size: 20px;
  margin-left: 10px;
}

/* Estilos para o menu */
.menu a {
  text-decoration: none;
}

/* Estilos para a seção principal */
main {
  background-color: #830974;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

/* Estilos para o texto dentro da seção principal */
main p {
  color: black;
}

/* Estilização para o botão do Instagram */
.btn-instagram {
  background: linear-gradient(135deg, #405DE6, #833AB4);
  color: #ffffff;
}

/* Estilos para a logo no menu */
.logo {
  display: flex;
  align-items: center;
}

/* Estilos para a imagem da logo no menu */
.logo img {
  max-height: 5rem;
  margin-right: 10px;
}

/* Estilos para o rodapé e links de redes sociais */
.social-links {
  display: flex;
  justify-content: center;
}

/* Estilos para os links de redes sociais no rodapé */
.social-links a {
  color: #fff;
  font-size: 20px;
  margin: 5px;
  text-decoration: none;
  width: 100%; /* Ajusta o tamanho do botão para ocupar todo o espaço disponível */
}

/* Estilo para mudar a cor do ícone do Instagram quando o mouse estiver sobre ele */
.social-links a.text-danger:hover {
  color: #e4405f; /* Cor do Instagram ao passar o mouse */
}

/* Estilo para mudar a cor do ícone do WhatsApp quando o mouse estiver sobre ele */
.social-links a.text-success:hover {
  color: #25d366; /* Cor do WhatsApp ao passar o mouse */
}

/* Estilo para mudar a cor do ícone do Facebook quando o mouse estiver sobre ele */
.social-links a.text-primary:hover {
  color: #1877f2; /* Cor do Facebook ao passar o mouse */
}
